*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-ejb/build/
/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-ejb/dist/
/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-war/build/
/Lab3-MueblesDeLosAlpes/build/
/Lab3-MueblesDeLosAlpes/dist/
/Lab3-MueblesDeLosAlpes/Lab3-MueblesDeLosAlpes-war/dist/
